aiofiles==23.1.0
altgraph==0.17.3
anyio==3.7.0
astroid==2.15.5
black==23.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.1.3
colorama==0.4.6
configobj==5.0.8
configparser==5.3.0
customtkinter==5.1.3
darkdetect==0.8.0
decorator==5.1.1
dill==0.3.6
etelemetry==0.3.0
exceptiongroup==1.1.1
filelock==3.12.0
fitz==0.0.1.dev2
flake8==6.0.0
fonttools==4.39.4
freetype-py==2.3.0
frontend==0.0.3
future==0.18.3
h11==0.14.0
httplib2==0.22.0
idna==3.4
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
lazy-object-proxy==1.9.0
looseversion==1.2.0
lxml==4.9.2
mccabe==0.7.0
mypy-extensions==1.0.0
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
numpy==1.24.3
packaging==23.1
pandas==2.0.2
pathspec==0.11.1
pdf2image==1.16.3
pefile==2023.2.7
Pillow==9.5.0
pip-autoremove==0.10.0
platformdirs==3.5.1
prov==2.0.0
pycairo==1.23.0
pycodestyle==2.10.0
pydot==1.4.2
pyflakes==3.0.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pylint==2.17.4
PyMuPDF==1.22.3
pyparsing==3.0.9
PyPDF2==3.0.1
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.0
pyxnat==1.5
rdflib==6.3.2
reportlab==4.0.0
requests==2.31.0
rlPyCairo==0.2.0
scipy==1.10.1
self==2020.12.3
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
sourcery-cli==1.3.0
starlette==0.27.0
tomli==2.0.1
tomlkit==0.11.8
traits==6.3.2
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
uvicorn==0.22.0
wrapt==1.15.0
